body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #0078d7;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

section {
    padding: 20px;
    margin: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

h2 {
    color: #0078d7;
    margin-top: 0;
}

h3 {
    color: #2c3e50;
}

pre {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-family: monospace;
    color: #333;
    overflow-x: auto;
}

table {
    width: auto;
    border-collapse: collapse;
    text-align: left;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background-color: #0078d7;
    color: white;
    text-align: left;
}

.table-container{
    overflow: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background: #0078d7;
    color: #fff;
    margin-top: 20px;
}

ul,ol {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

.comparison {
    gap: 20px;
}

.example {
    background: #ecf0f1;
    padding: 15px;
    margin: 10px 0;
    border-left: 4px solid #0078d7;
    border-radius: 5px;
    overflow: auto;
}

.comparison > div {
    flex: 1 1 45%;
    background: #f0f9f0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .comparison > div {
        flex: 1 1 100%;
    }
}

.img-container {
    text-align: center;
    margin-top: 20px;
    margin: 20px 0;
}

.img-container img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

code{
    color: #000;
    background-color: #f4f4f4;
}

.code {
    background: #f9f9f9;
    padding: 10px;
    border-left: 4px solid #0078d7;
    margin: 10px 0;
    font-family: monospace;
}
